@import "~normalize.css";
@import "~flexboxgrid";

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f1e3;
  font-family: Helvetica, sans-serif;
}


.main-container {
  margin-bottom: 30px;
  margin-top: 30px;
}
